*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-size:20px;
    height:100vh;
    padding:2em;
    width:90vw;
    margin: auto;
}
.header{
    text-align: center;
}
li {
    list-style-type: none;
}
.content{
    padding:1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 80vh;
}
.projects-container,.project-tasks-container{
    padding:2em;
    border-radius: .2em;
}
.project-task-list>li,.projects-list>li{
    margin:.8em 2em 0em 2em;
    display: flex;
    align-items: center;
    i{
        margin-right:.3em;
    }
}   
.project-task-list li{
    display: flex;
    padding:1em;
    background-color: white;
    border-radius: .5em;
}
.projects-container{
    background-color: aliceblue;
}
.project-tasks-container{
    background-color:lavenderblush;
}
.project-tasks-container h3 {
    margin:1em 0em;
}
.projects-header,.tasks-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-form-btn{
    font-size: 2em;
    color:black;
    border: none;
    background-color: inherit;
    &:hover{
        cursor: pointer;
    }
}
.toggle-taskform-btn{
    padding:.5em;
    font-size: 1em;
    border-radius: .2em;
    background-color:lavenderblush;
    border:1px solid cadetblue;
    &:hover{
        cursor: pointer;
    }
}
.task-keys,.project-task-list li{
    display: grid;
    gap:1em;
    grid-template-columns: repeat(4,1fr);
}
.task-keys{
    padding:1em;
}
.new-project-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    width:9em;
}
.add-project-form{
    margin:1em;
    display: none;
}  
.add-project-btn{
    padding:.3em;
    font-size: .8em;
    border-radius:5px;
    &:hover{
        cursor: pointer;
    }
}
.task-form{
   display: flex;
   flex-direction: column;
   padding:1em;
   margin:auto;
}
.task-form input,#priority{
    padding: .5em;
    font-size: .8em;
    border-radius: 5px;
    margin-bottom: 1em;
}
.add-task-btn{
    padding:1em;
    font-size:1em;
}
#modal {
    position: relative;
    top: 60%;        
    left:50%;        
    transform: translateY(-50%);
    background-color: white; 
    padding:.5em;   
    width:25em;
    border: 5px solid #ccfbf1;
}
.hide-form{
    background-color: red;
    color:white;
    position: absolute;
    top:0;
    right:0;
    font-size:1em;
    padding:.5em;
    border-radius: 2px;
    &:hover{
        cursor: pointer;
    }
}
.project-list-item.active{
    border-radius: 10px;
    box-shadow: none;
    border:1px solid green;
    transform: scale(1.1);
}

.fa-regular{
    font-size:1.6em;
}
.project-task-list>.complete{
    text-decoration:line-through;
    color:grey;
    opacity:.5;   
}
.functions-div{
    i{
        margin-left:3em;
        &:hover{
            cursor: pointer;
        }
    }
}
.low{
    border-left:30px solid #dc2626;
}
.medium{
    border-left: 30px solid #f59e0b;
}
.high{
    border-left: 30px solid green;
}
.task-list-item{
    display: flex;
    align-items: center;
    i{
        margin-right:.5em;
        font-size:2em;
        &:hover{
            cursor: pointer;
        }
    }
   
}
.project-list-item{
    padding:.5em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 7px 2px #d1d5db;
    &:hover{
        cursor:pointer;
    }
}
.fa-bars,.fa-eye-slash{
    font-size:2rem;
}
.add-project-btn{
    margin:.4em;
}

/* MEDIA QUAERIES */
@media (min-width: 1001px) {
    .fa-bars {
        display: none;
    }.fa-eye-slash{
        display: none;
    }
}
@media screen and (max-width:1590px){
    body{
        font-size:18px;
    }
    .functions-div{
        display: flex;
        i{
            margin-left:1em;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .project-task-list>li{
        padding:.5rem;
    }

}
@media screen and (max-width:1280px){
    body{
        font-size:16px;
        width:100vw;
    }
    .projects-container{
        padding:2rem;
    }
   
    .project-list-item{
        padding:.5rem;
    }
    .add-project-form{
        padding:.1rem;
    }
    .new-project-input{
        width:9rem;
    }
}
@media screen and (max-width:1000px){
    body{
        padding:.5rem;
    }
    .content{
        min-height: 99vh;
        padding:0;
    }
    .projects-container{
        display: none;
        position: fixed; 
        width: 30%;
        height: 100%;
        z-index: 10; 
    }
    .projects-container.show {
        display: block;
    }
    .toggle-projects,.toggle-tasks {
        display: block; 
        cursor: pointer;
    }
    .project-name,.projects-header{
        padding:1rem;
    }
    .projects-container,.project-tasks-container{
        min-height:90vh;
    }
    .project-tasks-container{
        width:99vw;
    }
 
    .header{
        display: none;
    }
   
}
@media screen and (max-width:630px) {
    body{
        width:100vw;
        padding:.1rem;
        font-size:13px;
    }
    .content{
        padding:.5rem;
        padding:0;
        margin:0;
    }
    .project-tasks-container{
        width:90vw;
        
    }
    .projects-container{ 
        width: 50%;
        height: 100%;
        z-index: 10; 
        padding:.8rem;
    }
    .fa-eye-slash{
        font-size:1.5rem;
    }
    .projects-header{
        padding:.5rem .1rem;
    }
    .toggle-form-btn{
        margin-left:1rem;
    }
    #modal{
        top:50%;
        left:5%;
    }
    .new-project-input{
        width:7rem;
    }
    .project-task-list>li,.projects-list>li{
        margin:.2rem .5rem .6rem .5rem;
        display: flex;
        align-items: center;
        i{
            margin-right:.3em;
        }
    }  
    .tasks-container{
        padding:0;
    }
    .project-list-item{
        padding:.2rem;
    }
    .project-tasks-container{
        padding:1rem;
        width:98vw;
    }
    .toggle-taskform-btn{
        padding:.2rem;
    }
    .description-header{
        display: none;
    }
    .task-keys,.project-task-list>li{
        padding:.5rem;
        display: flex;
        justify-content: space-between;
    }
    .desc-key{
        display: none;
    }
    .low{
        border-left:10px solid #dc2626;
    }
    .medium{
        border-left: 10px solid #f59e0b;
    }
    .high{
        border-left: 10px solid green;
    }

}